# Site wide configuration

title:            Tom Kimpson
locale:           en_UK
#url:              https://tomkimpson.com


# Jekyll configuration

permalink:   /:categories/:title/
markdown:    kramdown
#markdown: maruku
highlighter: rouge
sass:
  sass_dir: _sass
  style: compressed
gems:
  - jekyll-sitemap

kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  use_coderay: false


# Octopress

# Default extensions
post_ext: md
page_ext: md

# Found in _templates/
post_layout: post
page_layout: page

# Format titles with titlecase?
titlecase: true


# Site owner
owner:
  name: Tom Kimpson
  avatar: bio-pic.jpg
  bio: "Soon-to-be astro PhD student, UCL. General relativity, compact objects, GRBs and gravitational waves."
  email: tomkimpson@gmail.com
  disqus-shortname: 
  twitter: KimpsonTom
  facebook:
  google:
    plus:
    analytics:
    verify: 
    ad-client: 
    ad-slot: 
  bing-verify: 
  github: tomkimpson
  stackoverflow: 
  linkedin: #username
  xing: #username
  instagram: #username
  lastfm: #username
  tumblr: #username
  pinterest: #username
  foursquare: #username
  steam: #username
  dribbble: #username
  youtube: #username
  soundcloud: #username
  weibo: #username
  flickr: photos/134709935@N06/
  codepen: #username

include: [".htaccess"]
exclude: ["lib", "config.rb", "Capfile", "config", "log", "Rakefile", "Rakefile.rb", "tmp", "less", "*.sublime-project", "*.sublime-workspace", "test", "spec", "Gruntfile.js", "package.json", "node_modules", "Gemfile", "Gemfile.lock", "LICENSE", "README.md", "TODO.org", "tohost.sh", "tags"]
