{% if site.owner.google.ad-client and site.owner.google.ad-slot %}
<div class="google-ads">
  <!-- 320 x 50 ad -->
  <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:inline-block;width:320px;height:50px"
       data-ad-client="{{ site.owner.google.ad-client }}"
       data-ad-slot="{{ site.owner.google.ad-slot }}"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div><!-- /.google-ads -->
{% endif %}

<span>&copy; 2016 {{ site.owner.name }}. Blog powered by <a href="https://www.youtube.com/watch?v=dhRUe-gz690" rel="nofollow">perseverance</a>, <a href="https://www.youtube.com/watch?v=tgj3nZWtOfA" rel="nofollow"> dynamite rabbits</a>, <a href="https://www.youtube.com/watch?v=XnSeKHnB_k8" rel="nofollow">self-defence</a> and <a href="https://www.youtube.com/watch?v=k2MhMsLn9B0" rel="nofollow">the scientific method</a>. The very cool banner image is from the good folks at <a href="https://unsplash.com" rel="nofollow">Unsplash</a></span>
