---
layout: archive
permalink: /pubs/
title: "Publications"
author_profile: true
---

<p>
All m,y publications can be found on
<span class="archive__item-title">
<a href="https://ui.adsabs.harvard.edu/#search/q=author%3A%22Stein%2C%20Leo%20C.%22&sort=date%20desc%2C%20bibcode%20desc"><i class="ai ai-fw ai-ads" aria-hidden="true"></i> ADS</a>.
or below:
</p>



{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% if post.pub %}
    {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% if year != written_year %}
      <h2 id="{{ year | slugify }}" class="archive__subtitle"><a href="#{{ year | slugify }}">#{{ year }}</a></h2>
      {% capture written_year %}{{ year }}{% endcapture %}
    {% endif %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
