<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Tom Kimpson
              </h1>
              <p> I am a theoretical physicist undertaking research for my PhD within the <a href="https://www.ucl.ac.uk/mssl/research/astrophysics">Astrophysics Group</a>, at the <a href="http://www.ucl.ac.uk/mssl">Mullard Space Science Laboratory</a>, part of <a href="https://www.ucl.ac.uk/">University College London</a>. My PhD advisors are <a href="https://www.ucl.ac.uk/mssl/people/prof-kinwah-wu">Kinwah Wu</a> and <a href="https://www.ucl.ac.uk/mssl/people/prof-silvia-zane">Silvia Zane</a>
              </p>

<p>I am currently based at <a style="color:#52adc8" href="https://perimeterinstitute.ca/">Perimeter Institute for Theoretical Physics</a> as a Visiting Graduate Fellow, where I am collaborating with <a href="https://www.perimeterinstitute.ca/people/Huan-Yang">Huan Yang</a>  </p>


              <p>
                Prior to my PhD I worked as one of the first employees at <a href="https://www.paceup.com/">Pace</a>, a British start up using machine learning methods for revenue optimisation.
              </p>
              <p>
                I have an MPhys in Physics from <a href="https://www.dur.ac.uk/physics/">Durham University</a>, where I worked with <a href="https://www.dur.ac.uk/physics/staff/profiles/?id=530">Paula Chadwick</a> in high energy astrophysics. I also undertook undergraduate summer research in Padova, Italy with <a href="http://web.pd.astro.it/mapelli/">Michaela Mapelli</a> at the very beautiful <a href="http://www.oapd.inaf.it/index.php/en/">Osservatorio Astronomico</a>
              </p>
              <p style="text-align:center">
                <a target="_blank" href="https://mailhide.io/e/B8TyS"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/tomkimpson">GitHub</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/tomkimpson"> LinkedIn </a> &nbsp;/&nbsp;
                <a href="https://ui.adsabs.harvard.edu/search/q=kimpson&sort=date%20desc%2C%20bibcode%20desc&p_=0"> ADS </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/circle_bw_crop.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2 id="research">Research</h2>
              <p>
                My primary research interests are in the multimessenger astrophysics of compact objects.  In particular, I am interested and the use of these systems to explore deep questions in fundamental physics (e.g. strong-field general relativity) and astrophysics.
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.doi %}
              <a href="{{post.doi}}">doi</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>


        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2 id="code">Code</h2>
              <p>
                Throughout my research I have written a number of scientific codes, typically relating to time-frequency modelling and signal analysis of non-linear, dynamical astrophysical systems. In order to enable <a href="http://reproducibleresearch.net/">reproducible research</a> I am attempting to make all codes associated with published papers publicly available with documentation. This endeavour is currently a work in progress!
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'code' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.doi %}
              <a href="{{post.doi}}">doi</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>


        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2 id="talk">Talks</h2>
              <p>
                Some talks and presentations
                <ul>
  <li><span style="color:#52adc8">Multimessenger astrophysics of Pulsar EMRBs</span>. July 2019. 22nd International Conference on General Relativity and Gravitation, Valencia.</li>
  <li><span style="color:#52adc8">Pulsar Timing in Extreme Mass Ratio Binaries</span>. July 2019. National Astronomy Meeting, Lancaster.</li>
  <li><span style="color:#52adc8">Fundamental physics with pulsars </span>. June 2019. GW@UCL, London.</li>
  <li><span style="color:#52adc8">Pulsars as probes of strong-field GR</span>. May 2019. Science Possibilities Investigating Neutron Stars, London.</li>
  <li><span style="color:#52adc8">General Relativistic Pulsar Timing </span>. Jan 2019. Mullard Space Science Laboratory, London.</li>
  <li><span style="color:#52adc8">Spatial dispersion in the strong-field: Implications for PSR timing</span>. March 2018. INAF Cagliari, Italy.</li>
  <li><span style="color:#52adc8">Modeling in the gravitational strong field (poster) </span>. June 2019. Computational Sciences in the 21st Century, London</li>
</ul>
            </td>
          </tr>
        </table>


        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2 id="stuff">Other useful stuff</h2>
              <p>
                extra
                <ul>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ul>
            </td>
          </tr>
        </table>





        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Source code from <a style="font-size:small;" href="https://leonidk.com/">Leonid Keselman's</a> Jekyll version of <a style="font-size:small;" href="https://jonbarron.info/">Job Barron's page</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
